:root {
  --dark: #042036;
  --lightgreen: rgb(60, 151, 60);
  --green: rgb(6, 129, 6);
  --orange: #f38820;
  --accent: #e54b4b;
}

body {
  margin: 40px auto;
  width: clamp(350px, 50%, 800px);
  line-height: 1.6;
  letter-spacing: 0.05em;
}

p {
  text-align: left;
  padding-left: 5%;
  color: var(--dark);
  font-size: 1.2rem;
}

.task-container {
  display: grid;
  grid-template-columns: 6fr 2fr 1.5fr 1.5fr;
  gap: 10px;
  margin-bottom: 4px;
  height: 76px;
}

.wrapper {
  margin-bottom: 3px;
  border-radius: 5px;
  border: 1px solid var(--dark);
}

.wrapper:hover {
  border: 2px dotted transparent;
  background-image: repeating-linear-gradient(
      16deg,
      var(--accent),
      var(--accent) 11px,
      transparent 11px,
      transparent 23px,
      var(--accent) 23px
    ),
    repeating-linear-gradient(
      106deg,
      var(--accent),
      var(--accent) 11px,
      transparent 11px,
      transparent 23px,
      var(--accent) 23px
    ),
    repeating-linear-gradient(
      196deg,
      var(--accent),
      var(--accent) 11px,
      transparent 11px,
      transparent 23px,
      var(--accent) 23px
    ),
    repeating-linear-gradient(
      286deg,
      var(--accent),
      var(--accent) 11px,
      transparent 11px,
      transparent 23px,
      var(--accent) 23px
    );
  background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  transform: scale(1.02);
}

div:nth-child(2) > input {
  margin-top: 22px;
}

/*** BUTTONS ***/
button {
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

button:nth-child(3) {
  margin-bottom: 2px;
  background-color: var(--dark);
}
button:nth-child(4) {
  margin-bottom: 2px;
  background-color: var(--orange);
}
form > button:nth-child(2) {
  background-color: var(--green);
  height: 50px;
  margin-top: 20px;
}
form > button:nth-child(2):hover {
  background-color: var(--lightgreen);
}

/*** SUBMIT FORM ***/

form {
  display: grid;
  grid-template-columns: 8fr 3fr;
  margin-top: 20px;
  border-radius: 5px;
  padding: 2px;
}

.MuiInput-underline::before {
  content: "";
  background: var(--dark);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 97%;
}
