body {
  margin: 40px auto;
  width: clamp(350px, 50%, 800px);
  line-height: 1.6;
  letter-spacing: 0.05em;
}

p {
  text-align: left;
  padding-left: 5%;
  color: #000505;
  font-size: 1.2rem;
}

.task-container {
  display: grid;
  grid-template-columns: 6fr 2fr 1.5fr 1.5fr;
  gap: 10px;
  margin-bottom: 4px;
}

.wrapper {
  margin-bottom: 2px;
  border-radius: 5px;
}

div:nth-child(2) > input {
  margin-top: 17px;
}

/*** BUTTONS ***/
button {
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
button:nth-child(2) {
  border-radius: 5px;
  margin-bottom: 2px;
}
button:nth-child(3) {
  margin-bottom: 2px;
}
.btn-submit {
  background-color: green;
  padding: 18px;
}
.btn-submit:hover {
  background-color: rgb(132, 223, 132);
  color: black;
}
form > button:nth-child(2) {
  background-color: green;
  height: 50px;
  margin-top: 16px;
}
form > button:nth-child(2):hover {
  background-color: rgb(60, 151, 60);
}

/*** SUBMIT FORM ***/

form {
  display: grid;
  grid-template-columns: 8fr 3fr;
  margin-top: 20px;
  border-radius: 5px;
  padding: 2px;
}

.MuiInput-underline::before {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 97%;
}
